@import url(fontawesome.css);
@import url("<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">");

/* Asosiy menyu */
.has-submenu {
    position: relative;


}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #f4f4f4;
    list-style: none;
    padding: 5px;
    min-width: 150px;

}



.has-submenu:hover > .sub-menu {
    display: block;
}

/* Ichki dropdown uchun */
.has-submenu .sub-menu .has-submenu {
    position: relative;
}

.has-submenu .sub-menu .sub-menu {
    left: -100%;
    top: 0;

}

/* Add scrollbar to submenus */
.sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sub-menu .has-submenu > a {
    cursor: pointer;
}

.a{
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

/*@keyframes glowing {*/
/*    !*0% { box-shadow: -5px 0 10px yellow, 5px 0 10px yellow; }*!*/
/*    !*50% { box-shadow: -8px 0 20px orange, 8px 0 20px orange; }*!*/
/*    100% { box-shadow: -5px 0 10px orange, 5px 0 10px orange; }*/
/*}*/
.term{
    width: 300px;
    padding: 20px;
    font-size: 18px;
    background-color:orange;
    color:#000000;
    position: relative;
    font-weight: bold;
    text-align: justify;
    border-radius: 10px;
    display: none;
}
.term.show{
    display: block;
    width: 100%;
    height: auto;
}

.item-1 {
    position: relative;
    padding: 10px;
    outline: 2px solid orange;
    animation: outlineGlow 1.5s infinite alternate;
    background-color:orange;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}


.about{
    overflow-x: hidden;
    overflow-y:auto;
    max-height: 400px;
    max-width: 1000px;

}


